-#= image_tag "featured.png", :id => "featured-text", :alt => "Featured Websites"
- content_for :header do
  .featured
    %div{:style => "padding-top: 1px; width: 820px; margin: auto;"}
      .featured-description
      =@frontpage_text.content
      .clear
#featured-text
  %h1.title Tarjetas Populares
- index = 0
- @website_posts.each do |website_post|
  - index = index+1
  - unless index % 3 == 0
    .website
      = image_tag website_post.thumbnail.url(:medium)
      %br/
      .website-title= website_post.title
      .website-description
        = website_post.description
  - else
    .website-last
      = image_tag website_post.thumbnail.url(:medium)
      %br/
      .website-title= website_post.title
.clear