- content_for :header do
  .skinny-header
    %div{:style => "padding-top: 1px; width: 820px; margin: auto;"}
    Administration - New Post


      
%h1(style="margin-bottom: 15px;") Post a new Mash
= simple_form_for @website_post, :html => {:multipart => true} do |f|
  .left
    .form-labels
      Title (20 chars max): <br/>
      Short Description:
      %div{:style => "margin-top: 27px;" }
        Thumbnail (optional):
    .form-inputs
      = f.input :title, :label => false, :style => "width: 271px;"
      = f.text_area :description, :label => false, :style => "height: 40px; width: 271px;"
      %br/
      = f.file_field :thumbnail
    .clear
    = f.submit "Submit", :class => "submit-button"

  .clear