!!!
%html
  %head
    %title Mexicano Masher
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    :plain
      <link  href="http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >      
  %body
    #logo
      = link_to root_url do
        = image_tag "logo.png", :id => "logo", :alt =>"Mexicano Masher"
    .top
      .links
        %span.link= link_to "Tarjetas populares", root_url, :class => 'active'
        -#%span.link= link_to "Submit a Website", new_website_post_url
        %span.link= link_to "Nuestra Empresa", '/about'
        - if user_signed_in?          
          %span.link= link_to "Mi Cuenta", edit_user_registration_path
          %span.link= link_to "Cerrar Sesion", destroy_user_session_path

          - if current_user.admin?
            %span.link= link_to "Admin Panel", new_website_post_path
            
          .right{:style => "margin-right: 30px;"}
            .link
              Bienvenido
              %span.orange #{current_user.full_name}!
        - else
          %span.link= link_to "Iniciar Sesion", new_user_session_path


    = yield :header
          
    - if notice
      #main_notice.notice= notice
    - if alert
      #main_error.error= alert
                        
    .main
      .content
        = yield

